<ul id="main-menu-links">
    <li>{{user.firstName}} {{user.lastName}}</li>
    <li><a href="/user/profile">My Profile</a></li>
    <li><a href="/task/dashboard">Task Dashboard</a></li>
     <li><a href="/auth/logout">Logout</a></li>
</ul>